h1 {
    color: crimson;
    font-size: 50px;
}

#telefonButton {
    color: blue;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box {
    border: 3px solid #d31d1d;
    border-radius: 16px;
    padding: 30px;
}

